body {
    background-color: #247291;
    font-family: 'Lato', sans-serif;
    font-family: 'Zilla Slab', serif;
        
}

.container {
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 70vh;
    margin-top: 60px;
    background-color: #f8da5b;
   
}
 /* first box */
.city-date {
    border: 1px solid green;
    border-radius: 8px;
    margin: 30px 40px;
    height: 35vh;
    text-align: center;
    background-color: #f4f8e9;
    color: #247291;
}
span {
    color: #466ade;
    text-decoration: underline;
}
    

.fa-solid {
   margin: 10px 20px;
    font-size: 60px ;
}

/* second box- same row */
 .city-search {
    border: 1px solid blue;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 30px;
    height: 35vh;
    background-color: #f4f8e9;
    color: #247291;
    
}
.precipitation,
.humidity,
.wind,
.condition {
text-align: center;
margin-top: 10px;
font-size: 23px;
}

.form-control  {
    width: 350px;
    display: inline;
    margin-right: 10px;
    margin-left: 20px;
    border-color: blue;
}
/* days-forecast */
.days-forecast {
text-align: center;
margin-top: 40px;
grid-gap: 40px;
margin-left: 10px;
font-size: 23px;
color: #247291;

}
.card-body {
  border: 1px solid purple; 
  border-radius: 5px; 
  background-color: #f4f8e9;
}
